
<div *ngIf="auth.user$ | async as user">
  <p><strong>ID:</strong> {{ user.uid }}</p>
  <p><strong>Name:</strong> {{ user.displayName || 'No name' }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
</div>
<!-- Add Contact -->
<form #contactForm="ngForm">
  <!-- Name field -->
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="newContact.name" name="name" required #nameRef="ngModel">
    <mat-error *ngIf="nameRef.invalid && nameRef.touched">    {{ 'nameError' | transloco }}</mat-error>
  </mat-form-field>

<mat-form-field style="margin-left: 10px;">
  <input 
    matInput
    placeholder="Email"
    [(ngModel)]="newContact.email"
    name="email"
    required
    email
    #emailRef="ngModel"
  >
  <mat-error *ngIf="emailRef.invalid && emailRef.touched">
    {{ 'emailError' | transloco }}
  </mat-error>
</mat-form-field>

<mat-form-field style="margin-left: 10px;">
  <input
    matInput
    placeholder="{{ 'contact.phone' | transloco }}"
    [(ngModel)]="newContact.phone"
    name="phone"
    required
    pattern="^[0-9]{8,15}$"
    #phoneRef="ngModel"
  >
  <mat-error *ngIf="phoneRef.invalid && phoneRef.touched">
     {{ 'phoneError' | transloco }}
  </mat-error>
</mat-form-field>
<mat-form-field style="margin-left: 10px;">
<input style="margin-left: 10px;"
  #addressInput
  matInput
  placeholder="Address"
  [(ngModel)]="newContact.address"
  name="address"
/>
</mat-form-field>
  <button
    mat-raised-button style="margin-left: 10px;"
    color="primary"
    (click)="addContact()"
    [disabled]="contactForm.invalid"
  >
    {{ 'contact.addContact' | transloco }}
  </button>
  <button mat-raised-button color="primary" (click)="generateRandom()">
    {{ 'contact.generateRandomContact' | transloco }}
</button>
</form>
<!-- Search -->
 <div>
<mat-form-field>
  <input matInput placeholder="{{ 'contact.searchByName' | transloco }}" [(ngModel)]="searchTerm">
</mat-form-field>
<button mat-raised-button color="primary" (click)="exportToPDF()">
  Export PDF
</button>

</div>
<!-- Table -->
<!-- <table mat-table [dataSource]="contacts | contactFilter: searchTerm">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let contact">{{contact.name}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let contact">{{contact.email}}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let contact">{{contact.phone}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let contact">
        <button mat-button color="primary" (click)="editContact(contact)">
  Edit
</button>
      <button mat-button color="warn" (click)="deleteContact(contact.id)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name','email','phone','actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name','email','phone','actions'];"></tr>
</table> -->
<!-- <input
  matInput
  placeholder="Search..."
  [(ngModel)]="searchQuery"
  (input)="search()"
/> -->
<input
  matInput
  placeholder="Search..."
  [(ngModel)]="searchTerm"
  (input)="search()"
/>

<div *ngFor="let result of searchResults">
  <div [innerHTML]="result._highlightResult.name.value"></div>
</div>
<div class="contact-list">
  <app-contact-detail
    *ngFor="let contact of contacts | contactFilter: searchTerm"
    [contact]="contact"
    (delete)="deleteContact($event)"
    (edit)="editContact($event)">
  </app-contact-detail>
</div>