<h2 mat-dialog-title>Edit Contact</h2>

<form #editForm="ngForm">
  <mat-dialog-content>

    <!-- Name -->
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="data.name"
        name="name"
        required
        #nameRef="ngModel"
      >
      <mat-error *ngIf="nameRef.invalid && nameRef.touched">
            {{ 'nameError' | transloco }}
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [(ngModel)]="data.email"
        name="email"
        required
        email
        #emailRef="ngModel"
      >
      <mat-error *ngIf="emailRef.invalid && emailRef.touched">
        {{ 'emailError' | transloco }}
      </mat-error>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field>
      <input
        matInput
        placeholder="Phone"
        [(ngModel)]="data.phone"
        name="phone"
        required
        #phoneRef="ngModel"
      >
 
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">    {{ 'cancelButton' | transloco }}</button>
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
      [disabled]="editForm.invalid"
    >
 {{ 'saveButton' | transloco }}    </button>
  </mat-dialog-actions>
</form>